<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Casas Potiguar</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <%- include("layouts/header") %>

    <%- include("layouts/menu") %>

    <main>

        <h2>Bem-vindo!</h2>

        <p>Loja online Casas Potiguar.</p>

    </main>

    <%- include("layouts/footer") %>

</body>

</html>