<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Casas Potiguar</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Casas Potiguar</h1>

<p>Projeto Final de TI</p>

</body>
</html>
